@charset "UTF-8";
/* 차량 소개 */
.isbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  background-color: #444;
}

.isbox {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
}

.search-type {
	padding: 0 15px;
	width: 35%;
}

.search-type:first-child {
	border-right: 1px solid #e7e7e7;
}

.isbox dt {
	font-weight: 600;
	text-align: center;
	font-size: 21px;
	margin-bottom: 15px;
	letter-spacing: 0.5px;
	color: #333;
}

.isbox dd {
	text-align: center;
}

.isbox label {
  display: inline-block;
  padding: 4px 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 16px;
}

.isbox label:hover {
  background-color: #ff6600;
  color: #fff;
}

.isbox input[type="checkbox"] {
  display: none;
}

.isbox input[type="checkbox"] + label {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}

.isbox input[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 15px;
}

.isbox input[type="checkbox"]:checked + label:before {
	background-color : #e2e2e2;
	border-color : #e2e2e2;
  
}

.isbox input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 9px;
  width: 2px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.isbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  background-color : #e2e2e2;
}

.int_wrap {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.int_wrap:last-child {
	border-bottom: 0;
}

.left-image {
  width: 40%;
  height: auto;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  position: relative;
}

.left-image img {
	width: 93%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: contain;
	border-radius: 10px;
}

.right-content {
  width: 60%;
  padding: 20px 0 20px 30px;
}
.name-flex {
	display: flex;
	align-items: center;
}
.name1 p {
  font-size: 25px;
  font-weight: bold;
  color: #222;
}

.name2 p {
	font-size: 18px;
    color : #888;
    margin-left: 10px;
}

.table-wrapper {
	margin-top: 20px;
	justify-content: space-between;
}

.custom-table {
  width: 100%;
  table-layout: fixed;
  border-collapse : collapse;
  border-radius: 10px;
}

.table h3, .option-div h3 {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}

.custom-table th {
	padding: 8px 0;
	font-size: 17px;
	font-weight: 500;
	border: 1px solid #ddd;
	background: #f7f7f7; 
} 

.custom-table td {
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  border: 1px solid #ddd;
  color: #444;
}

.custom-table tr:nth-child(2) td span {
	color: #ff6600;
	font-weight: 500;
}

.custom-table td:nth-child(1) {
  width: 20%;
}

.custom-table td:nth-child(2),
.custom-table td:nth-child(3) {
  width: 40%;
}

.option-div {
	margin-top: 15px;
}

.custom-div {
  padding: 12px;
  background-color: #f3f3f3;
}

.custom-div > span {
  position: relative;
  padding-right: 10px;
  color: #686868;
  display: inline-block;
  margin: 6px 0;
  font-size: 16px;
}

input[type="checkbox"]:checked {
  background-color: gray;
}

@media screen and (max-width: 1400px) {
	.search-type {
		width: 45%;
	}
}

@media screen and (max-width: 1100px) {
	.search-type {
		width: 50%;
	}
}

@media screen and (max-width: 650px) {
	.int_wrap {
		display: block;
	}
	.left-image {
		width: 100%;
		height: 220px;
		margin-bottom: 15px;
	}
	.right-content {
		width: 100%;
		padding: 0;
	}
}