@charset "UTF-8";

/* 이용안내 */
.rent_int_wrap h2 {
	font-size: 38px;
	font-weight: 600;
}

.rent_int_wrap:nth-child(n+2) {
	margin-top: 70px;
}

.line {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 40px;
	width: 100%;
	height: 1px;
	background-color: #ddd;
}

.first_table tr {
	width: 50%;
}

.int_table th, .int_table td {
	width: 50%;
}

.int_table.int_t2 th, .int_table.int_t2 td {
    width: 20%;
    border-right: 1px solid #e7e7e7;
}


.add_text{
    margin-top: 20px;
}

.int_table th {
	height: 80px;
	line-height: 80px;
}

.int_table td {
	text-align: center;
	padding: 20px 40px;
	line-height: 30px;
    border-bottom: 1px solid #e7e7e7;
}

.divid {
	margin: 0 auto;
	text-align: left;
}

.else_table th, td {
	height: 80px;
	text-align: center;
	line-height: 80px;
}

.la_table th, td {
	height: 80px;
	text-align: center;
	line-height: 80px;
}

.int_table th:first-child {
	border-right: 1px solid #e7e7e7;
	border-left: hidden;
}

.int_table td:first-child {
	border-right: 1px solid #e7e7e7;
	border-left: hidden;
	vertical-align: middle;
}

.int_table th:last-child {
	border-right: hidden;
}

.int_table td:last-child {
	border-right: hidden;
}

.int_table tr:first-child {
	background-color: #f5f5f5;
}

.else_table th {
	background-color: #f5f5f5;
	border-right: 1px solid #e7e7e7;
}

.else_table td {
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.else_table tr.fff td:first-child {
	border-left: 0;
}


.noline {
	border-right: hidden;
}

.div1 {
	margin-top: 100px;
}

.else_table {
	width: 100%;
	border-collapse: collapse;
	border-right: hidden;
}

.la_table {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 5%;
}

.int_table {
	width: 100%;
	border-collapse: collapse;
}

.la_table th {
	background-color: #f5f5f5;
	width: 33.3%;
}

.la_table th {
	border-right: 1px solid #e7e7e7;
}

.la_noline {
	border-right: hidden;
}

.la_table td {
	border-top: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.la_table {
	border-right: hidden;
}


.row_i {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.row_i .col-3 {
	text-align: center;
}

.row_i .col-3 img {
	width: 95px;
}

.row_i .col-3 h4 {
	margin: 30px 0;
	font-size: 20px;
	font-weight: 500;
}

.text_return {
	color: red;
}