@charset "UTF-8";

     @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

        * {
            margin: 0;
            padding: 0;
            border: 0;
        }


        a {
            text-decoration: none;
        }

        * {
            font-size: 16px;
            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, helvetica neue, segoe ui, apple sd gothic neo, noto sans kr, malgun gothic, apple color emoji, segoe ui emoji, segoe ui symbol, sans-serif;
            letter-spacing: -.03em;
/*             color: #333; 
				0523 경인 업데이트 
				글자색 몇몇 요소에서 !important 를 주어도 변경되지 않아서 비활성화로 수정 */
        }
        

 
        .shadow {
            box-shadow: 0 0 10px rgba(255, 216, 180, 0.75)
        }

        .radius {
            border-radius: 50px 0 50px 0
        }


        @media screen and (max-width: 1024px) {
            * {
                font-size: 15px;
            }
        }

        @media screen and (max-width: 820px) {
            * {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 600px) {
            * {
                font-size: 13px;
            }
        }

        @media screen and (max-width: 320px) {
            * {
                font-size: 12px;
            }
        }

        .top_wrapper {
            max-width: 1400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media screen and (max-width: 1400px) {
            .top_wrapper {
                width: 90%;
            }
        }

        .login_section .xi-user {
            position: relative;
        }

        .xi-user::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            top: 4px;
            left: -17px;
            background: url(../../img/user.png) no-repeat;
            background-size: contain;
        }
     
		
        #header {
            position: fixed;
            z-index: 900;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            transition: .3s;
            background-color: #fff;
        }

        #header.scroll {
            background-color: #fff;
        }

        #header .h_logo {
            width: 205px;
            height: 52px;
        }

        #header .h_logo a {
            display: block;
            width: 100%;
            height: 100%;
            background: url(../../img/logo.png) no-repeat;
            background-position: top;
            background-size: contain;
        }
		
        #header .top_nav {
            display: flex;
            align-items: center;
            height: 100%;
        }

        #header .top_nav .gnb {
            display: flex;
            align-items: center;
            padding-right: 120px;
            height: 100%;
        }

        #header .top_nav .gnb .gnb_cont {
            margin-left: 55px;
            position: relative;
            height: 100%;
        }

        #header .top_nav .gnb .gnb_cont a {
            display: flex;
            font-size: 1.125rem;
            color: inherit;
            height: 100%;
            align-items: center;
            position: relative;
        }

        #header .top_nav .gnb .gnb_cont>a::before {
            content: "";
            width: 0%;
            height: 3px;
            background-color: rgb(255, 94, 0);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s;
        }

        #header .top_nav .gnb .gnb_cont>a:hover::before,
        #header .top_nav .gnb .gnb_cont>a.active::before {
            width: 100%;
        }

        #header .top_nav .gnb .gnb_cont .sub_menu {
            position: absolute;
            top: 101%;
            left: 50%;
            transform: translateX(-50%);
            width: 250%;
            background-color: #fff;
            box-sizing: border-box;
            padding: 20px;
            border-radius: 20px;
        }

        #header .top_nav .gnb .gnb_cont .sub_menu li {}

        #header .top_nav .gnb .gnb_cont .sub_menu li a {
            display: block;
            font-size: 1.0625rem;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            padding: 13px 0;
            text-align: center;
            transition: .3s;
        }

        #header .top_nav .gnb .gnb_cont .sub_menu li:last-child a {
            border-bottom: 0;
        }

        #header .top_nav .gnb .gnb_cont .sub_menu li:hover a {
            color: rgb(255, 94, 0);
        }

        #header .top_nav .gnb .gnb_cont.contact {
            color: rgb(255, 94, 0);
        }

        #header .top_nav .login_section {
            display: flex;
            gap: 25px;
            align-items: center;
        }

        #header .top_nav .login_section li {}

        #header .top_nav .login_section li a {
            display: block;
            font-size: 1.125rem;
            color: inherit;
        }

        #header .top_nav .login_section li a i {
            font-size: inherit;
        }

        #header .top_nav .login_section li.btn_register a {
            display: block;
            color: #666;
        }

        .header.mb {
            display: none;
        }

        .gnb.mb {
            display: none;
        }

        @media screen and (max-width: 1280px) {
            .login_section .xi-user {
                margin-left: 17px;
            }

            #header {
                display: none;
            }

            .header.mb {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 75px;
                border-bottom: 1px solid transparent;
                z-index: 999;
                transition: .3s;
            }

            .header.mb.scroll {
                background-color: #fff;
                border-color: #ccc;
            }

            .header.mb .h_logo {
                width: 165px;
                height: 42px;
            }

            .header.mb .h_logo a {
                display: block;
                width: 100%;
                height: 100%;
                background: url(../../img/logo.png) no-repeat;
                background-position: top left;
                background-size: contain;
            }

            .header.mb .hbg_btn {
                width: 35px;
                height: 25px;
                position: relative;
            }

            .header.mb .hbg_btn span {
                display: block;
                width: 100%;
                height: 3px;
                background-color: rgb(255, 94, 0);
                position: absolute;
            }

            .header.mb .hbg_btn span:nth-child(1) {
                top: 0;
                left: 0;
            }

            .header.mb .hbg_btn span:nth-child(2) {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            .header.mb .hbg_btn span:nth-child(3) {
                bottom: 0;
                left: 0;
            }

            .gnb.mb {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 1000;
            }

            .gnb.mb .bg {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, .3);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                position: absolute;
                top: 0;
                left: 0;
            }

            .gnb.mb .menu {
                width: 45vw;
                height: 100%;
                background-color: #fff;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
                box-sizing: border-box;
                padding: 30px 80px;
                box-shadow: 1px 0 50px rgba(0, 0, 0, .1);
                display: flex;
                align-items: center;
            }

            .gnb.mb .menu .menu_wrap {
                width: 100%;
            }

            .gnb.mb .menu .h_logo {
                width: 165px;
                height: 47px;
            }

            .gnb.mb .menu .h_logo a {
                display: block;
                width: 100%;
                height: 100%;
                background: url(../../img/logo.png) no-repeat;
                background-position: top;
                background-size: contain;
            }

            .gnb.mb .menu .menu_section {
                width: 100%;
                margin-top: 30px;
                padding-top: 20px;
                border-top: 1px solid #ccc;
            }

            .gnb.mb .menu .menu_section .gnb_cont {}

            .gnb.mb .menu .menu_section .gnb_cont a {
                display: block;
                font-size: 1.125rem;
                color: #888;
                font-weight: 300;
                padding-left: 10px;
                margin-bottom: 25px;
                position: relative;
            }

            .gnb.mb .menu .menu_section .gnb_cont a:focus {
                color: rgb(255, 94, 0);
            }

            .gnb.mb .menu .menu_section .gnb_cont.plus>a::before {
                content: "";
                width: 2px;
                height: 15px;
                background-color: rgb(255, 94, 0);
                position: absolute;
                top: 50%;
                right: 6.5px;
                transform: translate(-50%, -50%);
                transition: .3s;
            }

            .gnb.mb .menu .menu_section .gnb_cont.plus>a::after {
                content: "";
                width: 15px;
                height: 2px;
                background-color: rgb(255, 94, 0);
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                transition: .3s;
            }

            .gnb.mb .menu .menu_section .gnb_cont.plus.open>a::before {
                right: 0;
                transform: rotate(-90deg) translate(-50%, -50%);
            }

            .gnb.mb .menu .menu_section .gnb_cont.plus.open>a::after {
                opacity: 0;
            }

            .gnb.mb .menu .login_section {
                border-top: 1px dotted #ccc;
                padding-top: 20px;
            }

            .gnb.mb .menu .login_section li {}

            .gnb.mb .menu .login_section li a {
                display: block;
                font-size: 1.125rem;
                color: #888;
                font-weight: 300;
                transition: .3s;
            }

            .gnb.mb .menu .login_section li:not(:last-child) a {
                margin-bottom: 20px;
            }

            .gnb.mb .menu .login_section li a i {
                color: inherit;
                font-size: inherit;
                transition: .3s;
            }

            .gnb.mb .menu .login_section li a:focus,
            .gnb.mb .menu .login_section li a:focus i {
                color: rgb(255, 94, 0);
            }

            .gnb.mb .menu .btn_close {
                width: 35px;
                height: 35px;
                position: absolute;
                top: 30px;
                right: 30px;
                border: 0;
            }

            .gnb.mb .menu .btn_close span {
                width: 100%;
                height: 3px;
                background-color: rgb(255, 94, 0);
                position: absolute;
                top: 17px;
            }

            .gnb.mb .menu .btn_close span:nth-child(1) {
                transform: rotate(45deg);
            }

            .gnb.mb .menu .btn_close span:nth-child(2) {
                transform: rotate(-45deg);
            }
        }

        @media screen and (max-width: 820px) {
            .gnb.mb .menu {
                width: 55vw;
            }
        }

        @media screen and (max-width: 540px) {
            .header.mb {
                height: 60px;
            }

            .header.mb .h_logo {
                width: 138px;
                height: 35px;
            }

            .header.mb .hbg_btn {
                width: 25px;
                height: 20px;
            }

            .gnb.mb .menu {
                width: 65vw;
            }

            .gnb.mb .menu .btn_close {
                width: 28px;
                height: 28px;
            }

            .gnb.mb .menu .menu_section .gnb_cont a {
                font-size: 1rem;
            }

            .gnb.mb .menu .login_section li a {
                font-size: 1rem;
            }
        }

        @media screen and (max-width: 480px) {
            .gnb.mb .menu {
                width: 85vw;
                padding: 30px 60px;
            }

            .gnb.mb .menu .h_logo {
                width: 156px;
                height: 40px;
            }

            .gnb.mb .menu .menu_section .gnb_cont a {
                font-size: 1rem;
            }

            .gnb.mb .menu .menu_section .gnb_cont.plus>a::after {
                width: 12px;
            }

            .gnb.mb .menu .menu_section .gnb_cont.plus>a::before {
                height: 12px;
                right: 4.5px;
            }

            .gnb.mb .menu .btn_close {
                width: 30px;
                height: 30px;
            }

            .gnb.mb .menu .login_section li a {
                font-size: 1rem;
            }
        }

        @media screen and (max-width: 320px) {
            .gnb.mb .menu {
                padding: 30px 40px;
            }

            .gnb.mb .menu .login_section {
                left: 40px;
            }

            .gnb.mb .menu .menu_section .gnb_cont a {
                font-size: .8125rem;
            }

            .gnb.mb .menu .login_section li a {
                font-size: .8125rem;
            }
        }