@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Pretendard, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.con_title {
    margin: 50px 0;
    text-align: center;
    font-size: 50px;
}

.inq_container {
    display: flex;
    flex-wrap: wrap;
}

/* 마이페이지 사이드바 */
.mypage_sidebar {
    width: 25%;
}

.user_profile {
    text-align: center;
    padding: 32px 0;
    border-radius: 10px;
    background-color: #f3f3f3;
}

.user_info dt {
    font-size: 20px;
    color: #555;
}

.user_info b {
    font-size: 24px;
    color: #333;
}

.user_info dd {
    margin-top: 10px;
}

.side_menu {
    margin-top: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    position: relative;
}

.side_menu .menu_tit {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    padding: 17px;
    cursor: pointer;
}

.side_menu .menu_tit span {
    font-size: 17px;
    position: relative;
    padding-left: 28px;
    display: inline-block;
    width: 100%;
}

.side_menu .menu_tit span:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: url(../../img/admin/traffic-jam.png) no-repeat center;
    background-size: contain;
}

.side_menu .menu_tit.mt_user span:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: url(../../img/admin/group.png) no-repeat center;
    background-size: contain;
}

.side_menu .menu_tit.mt_list span:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: url(../../img/admin/list.png) no-repeat center;
    background-size: contain;
}

.side_menu .menu_tit.mt_dash span:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: url(../../img/admin/business.png) no-repeat center;
    background-size: contain;
}

.side_menu .menu_tit span:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 17px;
    height: 17px;
    background: url(../../img/admin/arrow.png) no-repeat center;
    background-size: contain;
}

.side_menu .menu_tit span.on:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 17px;
    height: 17px;
    background: url(../../img/admin/arrow.png) no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
}

.side_menu .side_sub {
    padding: 17px;
    padding-left: 30px;
    border-bottom: 1px solid #e7e7e7;
}

.side_sub li {
    cursor: pointer;
    transition: all 0.3s;
}

.side_sub li:hover {
    color: #ff6600;
}

.side_sub li:nth-child(n+2) {
    margin-top: 10px;
}



.adm_page_title {
	text-align: center;
	font-weight: bold;
	margin: 50px 0;
	text-align: center;
	font-size: 50px;
}
