<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project_gabolcar.mapper.CarItemMapper">

	<!-- 리뷰 관련 mapper.xml -->
	<!-- 리뷰 게시판 목록 -->
<!-- 	<select id="selectReviewList" resultType="map" parameterType="com.itwillbs.project_gabolcar.vo.ReviewVO"> -->
<!-- 		select -->
<!-- 			*, date_format(rev_date, '%Y-%m-%d')AS rev_date_format -->
<!-- 		from -->
<!-- 			rev_car -->
<!-- 			ORDER BY rev_date desc -->
<!-- 			LIMIT #{startRow}, #{listLimit} -->
<!-- 	</select> -->
	
<!-- 	<select id="selectReviewListCount" resultType="int"> -->
<!-- 		SELECT COUNT(*)  FROM rev_car -->
<!-- 	</select> -->
	
	
	
	<!-- 리뷰게시판 페이지 나누기 -->
	<select id="getReviewListPaging" resultType="map" parameterType="com.itwillbs.project_gabolcar.vo.ReviewVO">
		SELECT *
			FROM (
                SELECT
                	*, date_format(rev_date, '%Y-%m-%d')AS rev_date_format 
              	FROM rev_car
              	) AS n1
        ORDER BY rev_date DESC 
	    LIMIT #{skip}, #{amount}
	</select>
	<!-- 리뷰 게시판 총 갯수 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
			FROM rev_car
	</select>
	<!-- 리뷰게시판 끝 -->
	
	
	
	
	
	
	
	
	<!-- 차량 소개 mapper.xml -->
	<select id="selectCarInfoList" resultType="map">
		select
			*
		from
			car_info
	</select>
	
</mapper>
