<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project_gabolcar.mapper.PaymentMapper">
	<select id="selectMemberInfo" resultType="com.itwillbs.project_gabolcar.vo.MemberVO">
		SELECT *
			FROM mem_info
				WHERE mem_id = #{id}
	</select>
	
	<insert id="insertDriver">
		INSERT INTO drivers_info
		VALUES (
			null
			, #{dri_name}
			, CONCAT(#{dri_tel1}, '-', #{dri_tel2}, '-', #{dri_tel3})
			, #{dri_birthday}
			, CONCAT(#{lic_num1}, '-', #{lic_num2}, '-', #{lic_num3}, '-', #{lic_num4})
			, #{lic_info}
			, #{lic_issue_date}
			, #{lic_expiration_date}
			, #{lic_num1}
		)
	</insert>
	
	<select id="getIdx" resultType="Integer">
		SELECT mem_idx
			FROM mem_info
				WHERE mem_id = #{id}
	</select>
	
	<insert id="insertResInfo">
		INSERT INTO res_info
		VALUES (
			null -- idx
			, now()
			, #{res_rental_date}
			, #{res_return_date}
			, #{brc_rent_name}
			, #{brc_return_name}
			, #{car_idx}
			, #{car_insurance}
			, CONCAT(#{lic_num1}, '-', #{lic_num2}, '-', #{lic_num3}, '-', #{lic_num4})
			, #{mem_idx}
		)
	</insert>
	
	<select id="getCarName" resultType="com.itwillbs.project_gabolcar.vo.CarVO">
		SELECT *
			FROM car_info
				WHERE car_idx = #{car_idx}
	</select>
	
	<select id="getResIdx" resultType="int">
		SELECT MAX(res_idx)
			FROM res_info
	</select>
	
	<insert id="insertPayment">
		INSERT INTO pay_info
		VALUES (
			null
			, #{res_idx}
			, #{payment.pay_method}
			, #{payment.pay_total}
			, #{payment.pay_status}
			, now()
			, #{payment.merchant_uid}
		)
	</insert>
	
	<select id="selectResInfo" resultType="com.itwillbs.project_gabolcar.vo.ResInfoVO">
		SELECT *
			FROM res_info
				WHERE res_idx = #{res_idx}
	</select>
	
	<select id="selectCarName" resultType="com.itwillbs.project_gabolcar.vo.CarVO">
		SELECT *
			FROM res_info AS r
			JOIN car_info AS c
				ON r.car_idx = c.car_idx
					WHERE res_idx = #{res_idx}
	</select>
	
	<select id="selectPayInfo" resultType="com.itwillbs.project_gabolcar.vo.PaymentVO">
		SELECT *
			FROM res_info AS r
			JOIN pay_info AS p
				ON r.res_idx = p.res_idx
					WHERE r.res_idx = #{res_idx}
	</select>

	<select id="selectTotal" resultType="com.itwillbs.project_gabolcar.vo.PaymentVO">
	SELECT pay_total
		FROM pay_info
			WHERE res_idx = #{res_idx};
	</select>
	
	
	
</mapper>